<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerLink}}
  </head>
  <body>
    {{>Navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row flex-column justify-content-center align-items-center">
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="Images/404.png" alt="AboutImg" style="width: 400px; height: 400px;" class="img-fluid" title="jhamlal chelse">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left align-items-center justify-content-center">
                <p style="margin-bottom:-1rem;">welcome to Error page</p>
                <h1>{{errorMsg}}</h1>
                <a href="/" style="margin-top:-3rem;"><button>Go Back</button></a>
              </div>
            </div> 
          </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <p>Created with ❤️ by Jhamlal Chelse</p>
    </footer>
  </body>
</html>